

<mat-toolbar color="primary">
    <span class="app-title" routerLink="/">Todo-List</span>
    <span class="app-title" class="padding-left" routerLink="/notes">Notes</span>
</mat-toolbar>
  
  
  <!--
  <button mat-fab class="add-button" color="accent" routerLink="/add-todo">
    <mat-icon>add</mat-icon>
  </button>
  -->
  
  <mat-card class="listItem" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title (click)="openDialog()">Todo</mat-card-title> 
        </mat-card-title-group>
        <div fxFlex></div>
        <button mat-icon-button [color]="onOrOff" (click)="changeSort()">
            <mat-icon>filter_list</mat-icon>
        </button>

      
      </mat-card-header>
    <p class="listItem" *ngIf="todos.length == 0" (click)="openDialog()"> Press + to add Todos</p>
    
      
        <mat-card-content *ngFor="let todo of todos" cdkDrag>
           
            <mat-checkbox (click)="isCompleted(todo)">{{ todo.title }}</mat-checkbox>
            <button class="description-position" mat-button color="black">{{ todo.description }}</button>
          
           <button class="date-position" mat-button color="primary">{{ todo.date }}</button>

            
           
                <button mat-button class="delete-position" color="warn" (click)="deleteTodo(todo)"><mat-icon >delete</mat-icon></button>


        </mat-card-content>
     
   
</mat-card>

 <div *ngIf="completedItems.length != 0">
    <br><br>
    
    <mat-card class="listItem" >
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    Completed
                </mat-card-title>  
            </mat-card-title-group>
            <div fxFlex></div>
            <button mat-button (click)="deleteAllCompleted()" color="warn">Delete All</button>
        </mat-card-header> 
            
        <table>
             <tr  *ngFor="let todo of completedItems">
                 <td><mat-checkbox (click)="isNotCompleted(todo)" checked="true">{{ todo.title }}</mat-checkbox></td>
                 <td>{{ todo.description }}</td>
                
             </tr>
        </table>
         </mat-card>
</div> 
<button mat-fab extended class="add-button" (click)="openDialog()" color="accent">
    <mat-icon>add</mat-icon>
    Add Todo
  </button>




<!--
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
  </div>-->

  

 
  