<mat-toolbar color="primary">
    <span class="app-title" routerLink="/">Todo-List</span>
    <span class="app-title" class="padding-left" routerLink="/notes">Notes</span>
</mat-toolbar>

<div class="notes-container">
    <div  cdkDropList class="notes-list"  (cdkDropListDropped) = "drop($event)">
      <div class="note-item" *ngFor="let note of notes" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div class="note-header">
          <div class="hamburger-menu"  [matMenuTriggerFor]="menu">
            &#9776;
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteNote(note)">Delete</button>
            
          </mat-menu>
          <div class="note-title" (click)="selectNote(note)">
            {{note.title}}
          </div>
        </div>
      </div>
      <div class="add-note-btn">
        <button mat-raised-button color="primary" (click)="addNote()">Add New Note</button>
      </div>
    </div>
  
    

 
    <div class="note-editor" *ngIf="currentNote">
      <mat-form-field class="note-title">
        <input matInput  [(ngModel)]="currentNote.title">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput name="ddfs" rows="1000" [(ngModel)]="currentNote.content"></textarea>
      </mat-form-field>
  
    </div>
    <div class="note-editor" *ngIf="!currentNote">
        <h2 class="center">No note selected</h2>
    
      </div>
  
  </div>

  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let note of notes" cdkDrag>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      {{note.title}}
    </div>
  </div>